@{
    ViewBag.Title = "About";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>About</title>
    <style>
        .about h1 {
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="about padding-top100 padding-bot100">
        <div class="container">
            <div class="row">
                <h1 class="text-center">Welcome to our appointment service</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="heading">
                        <h3>
                            ABOUT THIS PLATFORM
                        </h3>
                        <h2>
                            We can help a thing about your health.
                        </h2>
                        <p>
                            FINDOCTOR platform is the first step to transform the future of healthcare system in local.
                             This platform is committed to improve the health care of communities by technical support.
                             Our experienced doctors are trying to treat a wide range of health issues, taking a personal
                             touch and utilizing highly specialized. This platform provides the most convenient way to make an
                             appointment with a doctor.     
                        </p>
                        <h4>
                            Our Mission
                        </h4>
                        <ul>
                            <li>Quality of healthcare and respect for life</li>
                            <li>To rpovide a smarter lifestyle</li>
                            <li>Equality and justice in health care for everyone</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../Content/images/banner1.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</body>
</html>


